.footerbar {
  width: 100vw;
  background: $white;
  box-shadow: 0 0 10px $color1;
  padding: 10px 20px 20px;
  display: grid;
  grid-template-columns: 70% 30%;
  position: fixed;
  top: 100%;
  transform: translateY(-100%);
  z-index: 100000000000000;

  h2 {
    padding: 0 0 10px 50px;
  }

  i {
    color: $color1;
  }

  .infosLogement {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: start;
    p {
      padding-left: 50px;
    }
  }

  .buttonFooter {
    display: flex;
    justify-content: flex-end;

    button {
      margin: 10px 50px 0 0;
    }
  }
}
