.title-page {
  box-shadow: 0 0 10px $color1;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;

    h1 {
      color: $color1;
    }
  }
}
