.title-page {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;

    h1 {
      color: $white;
      text-shadow: 0 0 10px $black;
    }
  }
}
