footer {
  background: $white;
  border-top: 1px solid $blackBg;
  position: relative;

  .container {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 10px;
    padding: 10px 0;
    font-size: 0.8rem;
    color: $color1;

    @media screen and (max-width: 960px) {
      grid-template-columns: 1fr;

      p {
        text-align: center;
      }
    }

    a {
      color: $color1;
      font-weight: bold;
    }
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style: none;

      @media screen and (max-width: 960px) {
        display: block;
        justify-content: center;
      }

      li {
        padding: 0 20px;

        @media screen and (max-width: 960px) {
          padding: 5px 0;
          text-align: center;
        }
      }
    }
  }
}
