header {
  .container {
    width: 100%;
    padding: 20px 50px;
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 20px;

    .logo {
      img {
        width: 100%;
        filter: drop-shadow(0 0 5px $white);
      }
    }

    .navDiv {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      nav {
        ul {
          display: flex;
          justify-content: space-around;
          align-items: center;
          list-style: none;
          li {
            padding: 0 20px;
            transition: 0.2s;
            a {
              color: $white;
              text-shadow: 0 0 5px $black;
            }

            .button-reservation {
              border: 1px solid $color1;
              padding: 10px 20px;
              border-radius: 20px;
              background: $color1;
              text-shadow: none;
            }

            &:hover {
              transform: translateY(-5px);
            }
          }
        }
      }
    }
  }
}
