header {
  background: url(../img/bg-home.webp) center/cover;
  .container {
    width: 100%;
    padding: 20px 50px;
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 20px;

    @media screen and (max-width: 1300px) {
      grid-template-columns: 30% 70%;
    }

    @media screen and (max-width: 750px) {
      grid-template-columns: 50% 50%;
      padding: 20px 20px 0;
    }
    .logo {
      transition: 0.2s;
      background: $white;
      border-radius: 20px;
      box-shadow: 0 0 5px $white;
      padding: 10px;

      a {
        text-shadow: none;
        img {
          width: 100%;
        }
      }

      &:hover {
        @include grow;
      }
    }

    .menuIcons {
      display: none;

      @media screen and (max-width: 1300px) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 30px;
      }

      i {
        font-size: 2rem;
        color: $white;
      }

      #closeIcon {
        display: none;
      }
    }

    .navDiv {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      @media screen and (max-width: 1300px) {
        position: relative;
      }

      nav {
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;

        @media screen and (max-width: 1300px) {
          display: none;
          width: 90vw;
          background: $color1;
          position: absolute;
          margin-right: auto;
          justify-content: center;
          top: 20px;
          left: 0;
          z-index: 100000;
        }
        ul {
          display: flex;
          justify-content: space-around;
          align-items: center;
          list-style: none;

          @media screen and (max-width: 1300px) {
            display: block;
            text-align: center;
            box-shadow: 0 0 10px $white;
          }
          li {
            padding: 0 20px;
            transition: 0.2s;

            @media screen and (max-width: 1300px) {
              padding: 20px;
              border-bottom: 1px solid $borderNav;
            }
            a {
              color: $white;
              text-shadow: 0 0 5px $black;
              padding: 10px 0;
              font-weight: bold;
              @media screen and (max-width: 1300px) {
                padding: 20px;
              }
            }

            &:hover {
              animation: pulse 0.7s infinite linear;
              @media screen and (max-width: 1300px) {
                animation: none;
              }
            }
          }
        }
      }

      .button-reservation {
        box-shadow: none;
        margin-top: 0;
        @media screen and (max-width: 1300px) {
          display: none;
        }
        a {
          text-shadow: none;
          border: 1px solid $white;
          background: $white;
          color: $color1;
        }
      }
    }
  }
}

#accueil {
  header {
    background: transparent;
  }
}
