@font-face {
  font-family: "montserrat";
  src: url(../fonts/Montserrat.ttf);
}

$font1: montserrat, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;

$color1: #0097b2;
$color2: #0cc0df;
$black: #000000;
$white: #ffffff;
$text: #333333;
$blackShadow: rgba(0, 0, 0, 0.25);
$whiteShadow: rgba(255, 255, 255, 0.25);
$whiteBg: rgba(255, 255, 255, 0.1);
$blackBg: rgba(0, 0, 0, 0.2);
$borderNav: #f1f1f1;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font1;
}

body {
  font-size: 1rem;
  color: $text;
}

.container {
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color1;
  text-transform: uppercase;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
  padding-bottom: 30px;
}

h3 {
  font-size: 1.3rem;
  padding-bottom: 30px;
}

h4 {
  font-size: 1.2rem;
  padding-bottom: 30px;
}

h5 {
  font-size: 1.1rem;
  padding-bottom: 30px;
}

h6 {
  font-size: 1rem;
  padding-bottom: 30px;
}

@keyframes pulse {
  0% {
    scale: 1;
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@mixin grow {
  transform: scale(1.05);
}
