@font-face {
  font-family: "montserrat";
  src: url(../fonts/Montserrat.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: montserrat, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

body {
  font-size: 1rem;
  color: #333333;
}

.container {
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0097b2;
  text-transform: uppercase;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
  padding-bottom: 30px;
}

h3 {
  font-size: 1.3rem;
  padding-bottom: 30px;
}

h4 {
  font-size: 1.2rem;
  padding-bottom: 30px;
}

h5 {
  font-size: 1.1rem;
  padding-bottom: 30px;
}

h6 {
  font-size: 1rem;
  padding-bottom: 30px;
}

@-webkit-keyframes pulse {
  0% {
    scale: 1;
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    scale: 1;
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.title-page {
  -webkit-box-shadow: 0 0 10px #0097b2;
          box-shadow: 0 0 10px #0097b2;
}
.title-page .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  text-align: center;
}
.title-page .container h1 {
  color: #0097b2;
}

button {
  background: none;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-top: 30px;
}
button a {
  border: 1px solid #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.25);
          box-shadow: 0 0 5px rgba(255, 255, 255, 0.25);
  color: #0097b2;
  font-size: 1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
button a:hover {
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
}
button:hover {
  -webkit-animation: pulse 0.7s infinite linear;
          animation: pulse 0.7s infinite linear;
}

.buttonBlue {
  background: none;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-top: 30px;
}
.buttonBlue a {
  border: 1px solid #0097b2;
  padding: 10px 20px;
  border-radius: 20px;
  background: #0097b2;
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.25);
          box-shadow: 0 0 5px rgba(255, 255, 255, 0.25);
  color: #ffffff;
  font-size: 1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.buttonBlue a:hover {
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
}
.buttonBlue:hover {
  -webkit-animation: pulse 0.7s infinite linear;
          animation: pulse 0.7s infinite linear;
}

header {
  background: #0097b2;
}
header .container {
  width: 100%;
  padding: 20px 50px;
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 20px;
}
@media screen and (max-width: 1250px) {
  header .container {
    grid-template-columns: 30% 70%;
  }
}
@media screen and (max-width: 750px) {
  header .container {
    grid-template-columns: 50% 50%;
    padding: 20px 20px 0;
  }
}
header .container .logo {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #ffffff;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 5px #ffffff;
          box-shadow: 0 0 5px #ffffff;
  padding: 10px;
}
header .container .logo a {
  text-shadow: none;
}
header .container .logo a img {
  width: 100%;
}
header .container .logo:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
header .container .menuIcons {
  display: none;
}
@media screen and (max-width: 1250px) {
  header .container .menuIcons {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 30px;
  }
}
header .container .menuIcons i {
  font-size: 2rem;
  color: #ffffff;
}
header .container .menuIcons #closeIcon {
  display: none;
}
header .container .navDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1250px) {
  header .container .navDiv {
    position: relative;
  }
}
header .container .navDiv nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 20px;
}
@media screen and (max-width: 1250px) {
  header .container .navDiv nav {
    display: none;
    width: 80vw;
    background: #0097b2;
    position: absolute;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 20px;
    left: 0;
    z-index: 100000;
  }
}
header .container .navDiv nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
@media screen and (max-width: 1250px) {
  header .container .navDiv nav ul {
    display: block;
    text-align: center;
    -webkit-box-shadow: 0 0 10px #ffffff;
            box-shadow: 0 0 10px #ffffff;
  }
}
header .container .navDiv nav ul li {
  padding: 0 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (max-width: 1250px) {
  header .container .navDiv nav ul li {
    padding: 20px;
    border-bottom: 1px solid #f1f1f1;
  }
}
header .container .navDiv nav ul li a {
  color: #ffffff;
  text-shadow: 0 0 5px #000000;
}
@media screen and (max-width: 1250px) {
  header .container .navDiv nav ul li a {
    padding: 20px;
  }
}
header .container .navDiv nav ul li:hover {
  -webkit-animation: pulse 0.7s infinite linear;
          animation: pulse 0.7s infinite linear;
}
@media screen and (max-width: 1250px) {
  header .container .navDiv nav ul li:hover {
    -webkit-animation: none;
            animation: none;
  }
}
header .container .navDiv .button-reservation {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-top: 0;
}
@media screen and (max-width: 1250px) {
  header .container .navDiv .button-reservation {
    display: none;
  }
}
header .container .navDiv .button-reservation a {
  text-shadow: none;
  border: 1px solid #ffffff;
  background: #ffffff;
  color: #0097b2;
}

#accueil header {
  background: transparent;
}

footer {
  background: #ffffff;
}
footer .container {
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 10px 0;
  font-size: 0.8rem;
  color: #0097b2;
}
footer .container a {
  color: #0097b2;
  font-weight: bold;
}
footer .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
footer .container ul li {
  padding: 0 20px;
}

#accueil {
  height: 100vh;
  background: url(../img/bg-home.jpeg) no-repeat center/cover;
}
@media screen and (max-width: 1250px) {
  #accueil {
    height: 120vh;
  }
}
#accueil header {
  background: rgba(255, 255, 255, 0.1);
}
#accueil main {
  background: rgba(255, 255, 255, 0.1);
  height: 80%;
}
#accueil main .hero {
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#accueil main .hero h1,
#accueil main .hero p {
  margin-bottom: 30px;
  color: #ffffff;
  text-shadow: 0 0 10px #000000;
}
#accueil main .hero h1 {
  font-size: 2rem;
}
#accueil main .hero button {
  margin-top: 30px;
}

#logement .slide-gallery {
  padding: 50px 0;
}
#logement .slide-gallery #image1,
#logement .slide-gallery #image2,
#logement .slide-gallery #image3,
#logement .slide-gallery #image4,
#logement .slide-gallery #image5,
#logement .slide-gallery #image6 {
  grid-template-columns: 1fr 2fr 1fr;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
#logement .slide-gallery #image1 #left,
#logement .slide-gallery #image1 #right,
#logement .slide-gallery #image2 #left,
#logement .slide-gallery #image2 #right,
#logement .slide-gallery #image3 #left,
#logement .slide-gallery #image3 #right,
#logement .slide-gallery #image4 #left,
#logement .slide-gallery #image4 #right,
#logement .slide-gallery #image5 #left,
#logement .slide-gallery #image5 #right,
#logement .slide-gallery #image6 #left,
#logement .slide-gallery #image6 #right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#logement .slide-gallery #image1 #left i,
#logement .slide-gallery #image1 #right i,
#logement .slide-gallery #image2 #left i,
#logement .slide-gallery #image2 #right i,
#logement .slide-gallery #image3 #left i,
#logement .slide-gallery #image3 #right i,
#logement .slide-gallery #image4 #left i,
#logement .slide-gallery #image4 #right i,
#logement .slide-gallery #image5 #left i,
#logement .slide-gallery #image5 #right i,
#logement .slide-gallery #image6 #left i,
#logement .slide-gallery #image6 #right i {
  font-size: 2.5rem;
  color: #0097b2;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (max-width: 750px) {
  #logement .slide-gallery #image1 #left i,
  #logement .slide-gallery #image1 #right i,
  #logement .slide-gallery #image2 #left i,
  #logement .slide-gallery #image2 #right i,
  #logement .slide-gallery #image3 #left i,
  #logement .slide-gallery #image3 #right i,
  #logement .slide-gallery #image4 #left i,
  #logement .slide-gallery #image4 #right i,
  #logement .slide-gallery #image5 #left i,
  #logement .slide-gallery #image5 #right i,
  #logement .slide-gallery #image6 #left i,
  #logement .slide-gallery #image6 #right i {
    font-size: 2rem;
  }
}
#logement .slide-gallery #image1 #left i:hover,
#logement .slide-gallery #image1 #right i:hover,
#logement .slide-gallery #image2 #left i:hover,
#logement .slide-gallery #image2 #right i:hover,
#logement .slide-gallery #image3 #left i:hover,
#logement .slide-gallery #image3 #right i:hover,
#logement .slide-gallery #image4 #left i:hover,
#logement .slide-gallery #image4 #right i:hover,
#logement .slide-gallery #image5 #left i:hover,
#logement .slide-gallery #image5 #right i:hover,
#logement .slide-gallery #image6 #left i:hover,
#logement .slide-gallery #image6 #right i:hover {
  color: #0cc0df;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
#logement .slide-gallery #image1 #imgGalery1,
#logement .slide-gallery #image1 #imgGalery2,
#logement .slide-gallery #image1 #imgGalery3,
#logement .slide-gallery #image1 #imgGalery4,
#logement .slide-gallery #image1 #imgGalery5,
#logement .slide-gallery #image1 #imgGalery6,
#logement .slide-gallery #image2 #imgGalery1,
#logement .slide-gallery #image2 #imgGalery2,
#logement .slide-gallery #image2 #imgGalery3,
#logement .slide-gallery #image2 #imgGalery4,
#logement .slide-gallery #image2 #imgGalery5,
#logement .slide-gallery #image2 #imgGalery6,
#logement .slide-gallery #image3 #imgGalery1,
#logement .slide-gallery #image3 #imgGalery2,
#logement .slide-gallery #image3 #imgGalery3,
#logement .slide-gallery #image3 #imgGalery4,
#logement .slide-gallery #image3 #imgGalery5,
#logement .slide-gallery #image3 #imgGalery6,
#logement .slide-gallery #image4 #imgGalery1,
#logement .slide-gallery #image4 #imgGalery2,
#logement .slide-gallery #image4 #imgGalery3,
#logement .slide-gallery #image4 #imgGalery4,
#logement .slide-gallery #image4 #imgGalery5,
#logement .slide-gallery #image4 #imgGalery6,
#logement .slide-gallery #image5 #imgGalery1,
#logement .slide-gallery #image5 #imgGalery2,
#logement .slide-gallery #image5 #imgGalery3,
#logement .slide-gallery #image5 #imgGalery4,
#logement .slide-gallery #image5 #imgGalery5,
#logement .slide-gallery #image5 #imgGalery6,
#logement .slide-gallery #image6 #imgGalery1,
#logement .slide-gallery #image6 #imgGalery2,
#logement .slide-gallery #image6 #imgGalery3,
#logement .slide-gallery #image6 #imgGalery4,
#logement .slide-gallery #image6 #imgGalery5,
#logement .slide-gallery #image6 #imgGalery6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 750px) {
  #logement .slide-gallery #image1 #imgGalery1,
  #logement .slide-gallery #image1 #imgGalery2,
  #logement .slide-gallery #image1 #imgGalery3,
  #logement .slide-gallery #image1 #imgGalery4,
  #logement .slide-gallery #image1 #imgGalery5,
  #logement .slide-gallery #image1 #imgGalery6,
  #logement .slide-gallery #image2 #imgGalery1,
  #logement .slide-gallery #image2 #imgGalery2,
  #logement .slide-gallery #image2 #imgGalery3,
  #logement .slide-gallery #image2 #imgGalery4,
  #logement .slide-gallery #image2 #imgGalery5,
  #logement .slide-gallery #image2 #imgGalery6,
  #logement .slide-gallery #image3 #imgGalery1,
  #logement .slide-gallery #image3 #imgGalery2,
  #logement .slide-gallery #image3 #imgGalery3,
  #logement .slide-gallery #image3 #imgGalery4,
  #logement .slide-gallery #image3 #imgGalery5,
  #logement .slide-gallery #image3 #imgGalery6,
  #logement .slide-gallery #image4 #imgGalery1,
  #logement .slide-gallery #image4 #imgGalery2,
  #logement .slide-gallery #image4 #imgGalery3,
  #logement .slide-gallery #image4 #imgGalery4,
  #logement .slide-gallery #image4 #imgGalery5,
  #logement .slide-gallery #image4 #imgGalery6,
  #logement .slide-gallery #image5 #imgGalery1,
  #logement .slide-gallery #image5 #imgGalery2,
  #logement .slide-gallery #image5 #imgGalery3,
  #logement .slide-gallery #image5 #imgGalery4,
  #logement .slide-gallery #image5 #imgGalery5,
  #logement .slide-gallery #image5 #imgGalery6,
  #logement .slide-gallery #image6 #imgGalery1,
  #logement .slide-gallery #image6 #imgGalery2,
  #logement .slide-gallery #image6 #imgGalery3,
  #logement .slide-gallery #image6 #imgGalery4,
  #logement .slide-gallery #image6 #imgGalery5,
  #logement .slide-gallery #image6 #imgGalery6 {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 450px) {
  #logement .slide-gallery #image1 #imgGalery1,
  #logement .slide-gallery #image1 #imgGalery2,
  #logement .slide-gallery #image1 #imgGalery3,
  #logement .slide-gallery #image1 #imgGalery4,
  #logement .slide-gallery #image1 #imgGalery5,
  #logement .slide-gallery #image1 #imgGalery6,
  #logement .slide-gallery #image2 #imgGalery1,
  #logement .slide-gallery #image2 #imgGalery2,
  #logement .slide-gallery #image2 #imgGalery3,
  #logement .slide-gallery #image2 #imgGalery4,
  #logement .slide-gallery #image2 #imgGalery5,
  #logement .slide-gallery #image2 #imgGalery6,
  #logement .slide-gallery #image3 #imgGalery1,
  #logement .slide-gallery #image3 #imgGalery2,
  #logement .slide-gallery #image3 #imgGalery3,
  #logement .slide-gallery #image3 #imgGalery4,
  #logement .slide-gallery #image3 #imgGalery5,
  #logement .slide-gallery #image3 #imgGalery6,
  #logement .slide-gallery #image4 #imgGalery1,
  #logement .slide-gallery #image4 #imgGalery2,
  #logement .slide-gallery #image4 #imgGalery3,
  #logement .slide-gallery #image4 #imgGalery4,
  #logement .slide-gallery #image4 #imgGalery5,
  #logement .slide-gallery #image4 #imgGalery6,
  #logement .slide-gallery #image5 #imgGalery1,
  #logement .slide-gallery #image5 #imgGalery2,
  #logement .slide-gallery #image5 #imgGalery3,
  #logement .slide-gallery #image5 #imgGalery4,
  #logement .slide-gallery #image5 #imgGalery5,
  #logement .slide-gallery #image5 #imgGalery6,
  #logement .slide-gallery #image6 #imgGalery1,
  #logement .slide-gallery #image6 #imgGalery2,
  #logement .slide-gallery #image6 #imgGalery3,
  #logement .slide-gallery #image6 #imgGalery4,
  #logement .slide-gallery #image6 #imgGalery5,
  #logement .slide-gallery #image6 #imgGalery6 {
    width: 200px;
    height: 200px;
  }
}

.description {
  padding: 50px 0;
}/*# sourceMappingURL=index.css.map */