@font-face {
  font-family: "montserrat";
  src: url(../fonts/Montserrat.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: montserrat, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

body {
  font-size: 1rem;
  color: #333333;
}

.container {
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0097b2;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
  padding-bottom: 30px;
}

h3 {
  font-size: 1.3rem;
  padding-bottom: 30px;
}

h4 {
  font-size: 1.2rem;
  padding-bottom: 30px;
}

h5 {
  font-size: 1.1rem;
  padding-bottom: 30px;
}

h6 {
  font-size: 1rem;
  padding-bottom: 30px;
}

@-webkit-keyframes pulse {
  0% {
    scale: 1;
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    scale: 1;
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.title-page .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  text-align: center;
}
.title-page .container h1 {
  color: #ffffff;
  text-shadow: 0 0 10px #000000;
}

button {
  background: none;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-top: 30px;
}
button a {
  border: 1px solid #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.25);
          box-shadow: 0 0 5px rgba(255, 255, 255, 0.25);
  color: #0097b2;
  font-size: 1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
button a:hover {
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
}
button:hover {
  -webkit-animation: pulse 0.7s infinite linear;
          animation: pulse 0.7s infinite linear;
}

.buttonBlue {
  background: none;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-top: 30px;
}
.buttonBlue a {
  border: 1px solid #0097b2;
  padding: 10px 20px;
  border-radius: 20px;
  background: #0097b2;
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.25);
          box-shadow: 0 0 5px rgba(255, 255, 255, 0.25);
  color: #ffffff;
  font-size: 1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.buttonBlue a:hover {
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
}
.buttonBlue:hover {
  -webkit-animation: pulse 0.7s infinite linear;
          animation: pulse 0.7s infinite linear;
}

.footerbar {
  width: 100vw;
  background: #ffffff;
  -webkit-box-shadow: 0 0 10px #0097b2;
          box-shadow: 0 0 10px #0097b2;
  padding: 10px 20px 20px;
  display: grid;
  grid-template-columns: 70% 30%;
  position: fixed;
  top: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: 100000000000000;
}
@media screen and (max-width: 930px) {
  .footerbar {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
.footerbar h2 {
  padding: 0 0 10px 50px;
}
@media screen and (max-width: 930px) {
  .footerbar h2 {
    font-size: 1.1rem;
    padding: 10px;
  }
}
.footerbar i {
  color: #0097b2;
}
.footerbar .infosLogement {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
@media screen and (max-width: 930px) {
  .footerbar .infosLogement {
    font-size: 0.9rem;
    grid-template-columns: 1fr;
  }
}
.footerbar .infosLogement p {
  padding-left: 50px;
}
@media screen and (max-width: 1100px) {
  .footerbar .infosLogement p {
    padding-left: 10px;
  }
}
.footerbar .buttonFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (max-width: 930px) {
  .footerbar .buttonFooter {
    display: block;
  }
}
.footerbar .buttonFooter button {
  margin: 10px 50px 0 0;
}
@media screen and (max-width: 930px) {
  .footerbar .buttonFooter button {
    margin: 20px auto;
  }
  .footerbar .buttonFooter button a {
    font-size: 0.9rem;
  }
}

header {
  background: url(../img/bg-home.webp) center/cover;
}
header .container {
  width: 100%;
  padding: 20px 50px;
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 20px;
}
@media screen and (max-width: 1250px) {
  header .container {
    grid-template-columns: 30% 70%;
  }
}
@media screen and (max-width: 750px) {
  header .container {
    grid-template-columns: 50% 50%;
    padding: 20px 20px 0;
  }
}
header .container .logo {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #ffffff;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 5px #ffffff;
          box-shadow: 0 0 5px #ffffff;
  padding: 10px;
}
header .container .logo a {
  text-shadow: none;
}
header .container .logo a img {
  width: 100%;
}
header .container .logo:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
header .container .menuIcons {
  display: none;
}
@media screen and (max-width: 1250px) {
  header .container .menuIcons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 30px;
  }
}
header .container .menuIcons i {
  font-size: 2rem;
  color: #ffffff;
}
header .container .menuIcons #closeIcon {
  display: none;
}
header .container .navDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1250px) {
  header .container .navDiv {
    position: relative;
  }
}
header .container .navDiv nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 20px;
}
@media screen and (max-width: 1250px) {
  header .container .navDiv nav {
    display: none;
    width: 90vw;
    background: #0097b2;
    position: absolute;
    margin-right: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 20px;
    left: 0;
    z-index: 100000;
  }
}
header .container .navDiv nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
@media screen and (max-width: 1250px) {
  header .container .navDiv nav ul {
    display: block;
    text-align: center;
    -webkit-box-shadow: 0 0 10px #ffffff;
            box-shadow: 0 0 10px #ffffff;
  }
}
header .container .navDiv nav ul li {
  padding: 0 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (max-width: 1250px) {
  header .container .navDiv nav ul li {
    padding: 20px;
    border-bottom: 1px solid #f1f1f1;
  }
}
header .container .navDiv nav ul li a {
  color: #ffffff;
  text-shadow: 0 0 5px #000000;
  padding: 10px 0;
}
@media screen and (max-width: 1250px) {
  header .container .navDiv nav ul li a {
    padding: 20px;
  }
}
header .container .navDiv nav ul li:hover {
  -webkit-animation: pulse 0.7s infinite linear;
          animation: pulse 0.7s infinite linear;
}
@media screen and (max-width: 1250px) {
  header .container .navDiv nav ul li:hover {
    -webkit-animation: none;
            animation: none;
  }
}
header .container .navDiv .button-reservation {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-top: 0;
}
@media screen and (max-width: 1250px) {
  header .container .navDiv .button-reservation {
    display: none;
  }
}
header .container .navDiv .button-reservation a {
  text-shadow: none;
  border: 1px solid #ffffff;
  background: #ffffff;
  color: #0097b2;
}

#accueil header {
  background: transparent;
}

footer {
  background: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
}
footer .container {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 10px;
  padding: 10px 0;
  font-size: 0.8rem;
  color: #0097b2;
}
@media screen and (max-width: 960px) {
  footer .container {
    grid-template-columns: 1fr;
  }
  footer .container p {
    text-align: center;
  }
}
footer .container a {
  color: #0097b2;
  font-weight: bold;
}
footer .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
@media screen and (max-width: 960px) {
  footer .container ul {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
footer .container ul li {
  padding: 0 20px;
}
@media screen and (max-width: 960px) {
  footer .container ul li {
    padding: 5px 0;
    text-align: center;
  }
}

#accueil {
  height: 100vh;
  background: url(../img/bg-home.webp) no-repeat center/cover;
}
@media screen and (max-width: 1250px) {
  #accueil {
    height: 120vh;
  }
}
#accueil header {
  background: rgba(255, 255, 255, 0.1);
}
#accueil main {
  background: rgba(255, 255, 255, 0.1);
  height: 80%;
}
#accueil main .hero {
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#accueil main .hero h1,
#accueil main .hero p {
  margin-bottom: 30px;
  color: #ffffff;
  text-shadow: 0 0 10px #000000;
}
#accueil main .hero h1 {
  font-size: 2rem;
}
#accueil main .hero button {
  margin-top: 30px;
}

#logement main h2 {
  padding: 40px 0;
}
#logement .menuLogement {
  padding: 20px 30px 20px 0;
  width: 80%;
  margin: 0 auto;
}
#logement .menuLogement ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 930px) {
  #logement .menuLogement ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
#logement .menuLogement ul li {
  list-style: none;
}
@media screen and (max-width: 930px) {
  #logement .menuLogement ul li {
    padding: 10px 0;
  }
}
#logement .menuLogement ul li a {
  padding: 20px 20px 20px 0;
  color: #0097b2;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
@media screen and (max-width: 930px) {
  #logement .menuLogement ul li a {
    padding: 5px 0;
  }
}
#logement .menuLogement ul li a:hover {
  border-bottom: 2px solid #0097b2;
  font-weight: bold;
}
@media screen and (max-width: 930px) {
  #logement .menuLogement ul li a:hover {
    border: none;
  }
}
#logement #description {
  padding-top: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}
#logement #description .descriptionLogement {
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.25);
}
#logement #description h2 {
  padding: 20px 0 40px 0;
}
#logement #description ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#logement #description ul li {
  list-style: none;
  padding: 0px 20px 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#logement #description ul li i {
  margin-right: 10px;
  font-size: 1.5rem;
  color: #0097b2;
}
#logement #description .more-content {
  display: none;
}
#logement #description .more-link {
  color: #0097b2;
  text-transform: uppercase;
  cursor: pointer;
}
#logement #ce-que-propose-le-logement .container ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media screen and (max-width: 770px) {
  #logement #ce-que-propose-le-logement .container ul {
    grid-template-columns: 1fr;
  }
}
#logement #ce-que-propose-le-logement .container ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 10px #0097b2;
          box-shadow: 0 0 10px #0097b2;
  border-radius: 20px;
  padding: 20px;
}
#logement #ce-que-propose-le-logement .container ul li i {
  color: #0097b2;
  margin-right: 10px;
}
#logement #ce-que-propose-le-logement .container ul li sup i {
  margin-left: 5px;
}
#logement #ce-que-propose-le-logement .container ul li ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: none;
  padding: 10px 0;
}
#logement #infoCuisine,
#logement #infoLingeMaison {
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #0097b2;
}
#logement #infoCuisine:hover,
#logement #infoLingeMaison:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
#logement #infoCuisineList,
#logement #infoLingeMaisonList {
  display: none;
  position: absolute;
  -webkit-box-shadow: 0 0 10px #0097b2;
          box-shadow: 0 0 10px #0097b2;
  border-radius: 20px;
  padding: 20px;
  background: #0097b2;
  width: 300px;
  color: #ffffff;
}
#logement #points-forts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-wrap: 1fr 1fr 1fr;
      flex-wrap: 1fr 1fr 1fr;
}
@media screen and (max-width: 770px) {
  #logement #points-forts ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
#logement #points-forts ul li {
  list-style: none;
  padding: 10px 20px;
  margin: 20px 20px 20px 0;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 5px #0097b2;
          box-shadow: 0 0 5px #0097b2;
}
@media screen and (max-width: 930px) {
  #logement #points-forts ul li {
    margin: 10px 0;
  }
}
#logement #points-forts ul li i {
  margin-right: 10px;
  color: #0097b2;
}
#logement .galerie-logement .container .imageLogement {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
@media screen and (max-width: 770px) {
  #logement .galerie-logement .container .imageLogement {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  #logement .galerie-logement .container .imageLogement {
    grid-template-columns: 1fr;
  }
}
#logement .galerie-logement .container .imageLogement img {
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
#logement .galerie-logement .container .imageLogement img:hover {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
@media screen and (max-width: 770px) {
  #logement .galerie-logement .container .imageLogement img:hover {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
#logement #reglements {
  padding-bottom: 50px;
}
#logement #reglements ul li {
  list-style: none;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#logement #reglements ul li i {
  margin-right: 20px;
  font-size: 1.5rem;
  color: #0097b2;
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#logement footer {
  margin-bottom: 100px;
}
@media screen and (max-width: 930px) {
  #logement footer {
    margin-bottom: 200px;
  }
}

#slide #slide-gallery {
  padding: 50px;
  position: absolute;
  width: 100vw;
  height: 100vh;
}
#slide #slide-gallery #iconCloseVisualisator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 30px;
  font-size: 2.5rem;
  color: #0097b2;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (max-width: 750px) {
  #slide #slide-gallery #iconCloseVisualisator {
    font-size: 2rem;
  }
}
#slide #slide-gallery #iconCloseVisualisator:hover {
  color: #0cc0df;
}
#slide #slide-gallery #image1,
#slide #slide-gallery #image2,
#slide #slide-gallery #image3,
#slide #slide-gallery #image4,
#slide #slide-gallery #image5,
#slide #slide-gallery #image6 {
  grid-template-columns: 1fr 2fr 1fr;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
#slide #slide-gallery #image1 #left,
#slide #slide-gallery #image1 #right,
#slide #slide-gallery #image2 #left,
#slide #slide-gallery #image2 #right,
#slide #slide-gallery #image3 #left,
#slide #slide-gallery #image3 #right,
#slide #slide-gallery #image4 #left,
#slide #slide-gallery #image4 #right,
#slide #slide-gallery #image5 #left,
#slide #slide-gallery #image5 #right,
#slide #slide-gallery #image6 #left,
#slide #slide-gallery #image6 #right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#slide #slide-gallery #image1 i,
#slide #slide-gallery #image2 i,
#slide #slide-gallery #image3 i,
#slide #slide-gallery #image4 i,
#slide #slide-gallery #image5 i,
#slide #slide-gallery #image6 i {
  font-size: 2.5rem;
  color: #0097b2;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (max-width: 750px) {
  #slide #slide-gallery #image1 i,
  #slide #slide-gallery #image2 i,
  #slide #slide-gallery #image3 i,
  #slide #slide-gallery #image4 i,
  #slide #slide-gallery #image5 i,
  #slide #slide-gallery #image6 i {
    font-size: 2rem;
  }
}
#slide #slide-gallery #image1 i:hover,
#slide #slide-gallery #image2 i:hover,
#slide #slide-gallery #image3 i:hover,
#slide #slide-gallery #image4 i:hover,
#slide #slide-gallery #image5 i:hover,
#slide #slide-gallery #image6 i:hover {
  color: #0cc0df;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
#slide #slide-gallery #image1 #imgGalery1,
#slide #slide-gallery #image1 #imgGalery2,
#slide #slide-gallery #image1 #imgGalery3,
#slide #slide-gallery #image1 #imgGalery4,
#slide #slide-gallery #image1 #imgGalery5,
#slide #slide-gallery #image1 #imgGalery6,
#slide #slide-gallery #image2 #imgGalery1,
#slide #slide-gallery #image2 #imgGalery2,
#slide #slide-gallery #image2 #imgGalery3,
#slide #slide-gallery #image2 #imgGalery4,
#slide #slide-gallery #image2 #imgGalery5,
#slide #slide-gallery #image2 #imgGalery6,
#slide #slide-gallery #image3 #imgGalery1,
#slide #slide-gallery #image3 #imgGalery2,
#slide #slide-gallery #image3 #imgGalery3,
#slide #slide-gallery #image3 #imgGalery4,
#slide #slide-gallery #image3 #imgGalery5,
#slide #slide-gallery #image3 #imgGalery6,
#slide #slide-gallery #image4 #imgGalery1,
#slide #slide-gallery #image4 #imgGalery2,
#slide #slide-gallery #image4 #imgGalery3,
#slide #slide-gallery #image4 #imgGalery4,
#slide #slide-gallery #image4 #imgGalery5,
#slide #slide-gallery #image4 #imgGalery6,
#slide #slide-gallery #image5 #imgGalery1,
#slide #slide-gallery #image5 #imgGalery2,
#slide #slide-gallery #image5 #imgGalery3,
#slide #slide-gallery #image5 #imgGalery4,
#slide #slide-gallery #image5 #imgGalery5,
#slide #slide-gallery #image5 #imgGalery6,
#slide #slide-gallery #image6 #imgGalery1,
#slide #slide-gallery #image6 #imgGalery2,
#slide #slide-gallery #image6 #imgGalery3,
#slide #slide-gallery #image6 #imgGalery4,
#slide #slide-gallery #image6 #imgGalery5,
#slide #slide-gallery #image6 #imgGalery6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  height: 450px;
  margin: 0 auto;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 750px) {
  #slide #slide-gallery #image1 #imgGalery1,
  #slide #slide-gallery #image1 #imgGalery2,
  #slide #slide-gallery #image1 #imgGalery3,
  #slide #slide-gallery #image1 #imgGalery4,
  #slide #slide-gallery #image1 #imgGalery5,
  #slide #slide-gallery #image1 #imgGalery6,
  #slide #slide-gallery #image2 #imgGalery1,
  #slide #slide-gallery #image2 #imgGalery2,
  #slide #slide-gallery #image2 #imgGalery3,
  #slide #slide-gallery #image2 #imgGalery4,
  #slide #slide-gallery #image2 #imgGalery5,
  #slide #slide-gallery #image2 #imgGalery6,
  #slide #slide-gallery #image3 #imgGalery1,
  #slide #slide-gallery #image3 #imgGalery2,
  #slide #slide-gallery #image3 #imgGalery3,
  #slide #slide-gallery #image3 #imgGalery4,
  #slide #slide-gallery #image3 #imgGalery5,
  #slide #slide-gallery #image3 #imgGalery6,
  #slide #slide-gallery #image4 #imgGalery1,
  #slide #slide-gallery #image4 #imgGalery2,
  #slide #slide-gallery #image4 #imgGalery3,
  #slide #slide-gallery #image4 #imgGalery4,
  #slide #slide-gallery #image4 #imgGalery5,
  #slide #slide-gallery #image4 #imgGalery6,
  #slide #slide-gallery #image5 #imgGalery1,
  #slide #slide-gallery #image5 #imgGalery2,
  #slide #slide-gallery #image5 #imgGalery3,
  #slide #slide-gallery #image5 #imgGalery4,
  #slide #slide-gallery #image5 #imgGalery5,
  #slide #slide-gallery #image5 #imgGalery6,
  #slide #slide-gallery #image6 #imgGalery1,
  #slide #slide-gallery #image6 #imgGalery2,
  #slide #slide-gallery #image6 #imgGalery3,
  #slide #slide-gallery #image6 #imgGalery4,
  #slide #slide-gallery #image6 #imgGalery5,
  #slide #slide-gallery #image6 #imgGalery6 {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 450px) {
  #slide #slide-gallery #image1 #imgGalery1,
  #slide #slide-gallery #image1 #imgGalery2,
  #slide #slide-gallery #image1 #imgGalery3,
  #slide #slide-gallery #image1 #imgGalery4,
  #slide #slide-gallery #image1 #imgGalery5,
  #slide #slide-gallery #image1 #imgGalery6,
  #slide #slide-gallery #image2 #imgGalery1,
  #slide #slide-gallery #image2 #imgGalery2,
  #slide #slide-gallery #image2 #imgGalery3,
  #slide #slide-gallery #image2 #imgGalery4,
  #slide #slide-gallery #image2 #imgGalery5,
  #slide #slide-gallery #image2 #imgGalery6,
  #slide #slide-gallery #image3 #imgGalery1,
  #slide #slide-gallery #image3 #imgGalery2,
  #slide #slide-gallery #image3 #imgGalery3,
  #slide #slide-gallery #image3 #imgGalery4,
  #slide #slide-gallery #image3 #imgGalery5,
  #slide #slide-gallery #image3 #imgGalery6,
  #slide #slide-gallery #image4 #imgGalery1,
  #slide #slide-gallery #image4 #imgGalery2,
  #slide #slide-gallery #image4 #imgGalery3,
  #slide #slide-gallery #image4 #imgGalery4,
  #slide #slide-gallery #image4 #imgGalery5,
  #slide #slide-gallery #image4 #imgGalery6,
  #slide #slide-gallery #image5 #imgGalery1,
  #slide #slide-gallery #image5 #imgGalery2,
  #slide #slide-gallery #image5 #imgGalery3,
  #slide #slide-gallery #image5 #imgGalery4,
  #slide #slide-gallery #image5 #imgGalery5,
  #slide #slide-gallery #image5 #imgGalery6,
  #slide #slide-gallery #image6 #imgGalery1,
  #slide #slide-gallery #image6 #imgGalery2,
  #slide #slide-gallery #image6 #imgGalery3,
  #slide #slide-gallery #image6 #imgGalery4,
  #slide #slide-gallery #image6 #imgGalery5,
  #slide #slide-gallery #image6 #imgGalery6 {
    width: 200px;
    height: 200px;
  }
}
#slide #slide-gallery #image1 #imgGalery1 img,
#slide #slide-gallery #image1 #imgGalery2 img,
#slide #slide-gallery #image1 #imgGalery3 img,
#slide #slide-gallery #image1 #imgGalery4 img,
#slide #slide-gallery #image1 #imgGalery5 img,
#slide #slide-gallery #image1 #imgGalery6 img,
#slide #slide-gallery #image2 #imgGalery1 img,
#slide #slide-gallery #image2 #imgGalery2 img,
#slide #slide-gallery #image2 #imgGalery3 img,
#slide #slide-gallery #image2 #imgGalery4 img,
#slide #slide-gallery #image2 #imgGalery5 img,
#slide #slide-gallery #image2 #imgGalery6 img,
#slide #slide-gallery #image3 #imgGalery1 img,
#slide #slide-gallery #image3 #imgGalery2 img,
#slide #slide-gallery #image3 #imgGalery3 img,
#slide #slide-gallery #image3 #imgGalery4 img,
#slide #slide-gallery #image3 #imgGalery5 img,
#slide #slide-gallery #image3 #imgGalery6 img,
#slide #slide-gallery #image4 #imgGalery1 img,
#slide #slide-gallery #image4 #imgGalery2 img,
#slide #slide-gallery #image4 #imgGalery3 img,
#slide #slide-gallery #image4 #imgGalery4 img,
#slide #slide-gallery #image4 #imgGalery5 img,
#slide #slide-gallery #image4 #imgGalery6 img,
#slide #slide-gallery #image5 #imgGalery1 img,
#slide #slide-gallery #image5 #imgGalery2 img,
#slide #slide-gallery #image5 #imgGalery3 img,
#slide #slide-gallery #image5 #imgGalery4 img,
#slide #slide-gallery #image5 #imgGalery5 img,
#slide #slide-gallery #image5 #imgGalery6 img,
#slide #slide-gallery #image6 #imgGalery1 img,
#slide #slide-gallery #image6 #imgGalery2 img,
#slide #slide-gallery #image6 #imgGalery3 img,
#slide #slide-gallery #image6 #imgGalery4 img,
#slide #slide-gallery #image6 #imgGalery5 img,
#slide #slide-gallery #image6 #imgGalery6 img {
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

#galerie .galerie {
  padding: 50px 0 100px;
}
#galerie .galerie .container .imageLogement {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
@media screen and (max-width: 770px) {
  #galerie .galerie .container .imageLogement {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  #galerie .galerie .container .imageLogement {
    grid-template-columns: 1fr;
  }
}
#galerie .galerie .container .imageLogement img {
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
#galerie .galerie .container .imageLogement img:hover {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
@media screen and (max-width: 770px) {
  #galerie .galerie .container .imageLogement img:hover {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#acces .acces {
  padding: 50px 0 100px;
}
#acces .acces .container img {
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
#acces .acces .container ul {
  padding: 30px 0 0;
}
#acces .acces .container ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}
#acces .acces .container ul li i {
  font-size: 1.5rem;
  margin-right: 20px;
  width: 20px;
  color: #0097b2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#temoignages .temoignages {
  padding: 50px 0 100px;
}
#temoignages .temoignages .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 960px) {
  #temoignages .temoignages .container {
    grid-template-columns: 1fr 1fr;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 650px) {
  #temoignages .temoignages .container {
    grid-template-columns: 1fr;
  }
}
#temoignages .temoignages .container .testimonialContainer {
  padding: 20px;
  text-align: center;
  -webkit-box-shadow: 0 0 10px #0097b2;
          box-shadow: 0 0 10px #0097b2;
  border-radius: 20px;
  height: 100%;
}
#temoignages .temoignages .container .testimonialContainer .name {
  font-weight: bold;
  padding-bottom: 20px;
}
#temoignages .temoignages .container .testimonialContainer i {
  color: #fff200;
  text-shadow: 0 0 3px #000000;
  padding-bottom: 20px;
}

#decouvrir-beziers .decouvrir-beziers .menuDecouvrir {
  padding: 20px 30px 20px 0;
  width: 80%;
  margin: 0 auto;
}
#decouvrir-beziers .decouvrir-beziers .menuDecouvrir ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 930px) {
  #decouvrir-beziers .decouvrir-beziers .menuDecouvrir ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
#decouvrir-beziers .decouvrir-beziers .menuDecouvrir ul li {
  list-style: none;
}
@media screen and (max-width: 930px) {
  #decouvrir-beziers .decouvrir-beziers .menuDecouvrir ul li {
    padding: 10px 0;
  }
}
#decouvrir-beziers .decouvrir-beziers .menuDecouvrir ul li a {
  padding: 20px 20px 20px 0;
  color: #0097b2;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
@media screen and (max-width: 930px) {
  #decouvrir-beziers .decouvrir-beziers .menuDecouvrir ul li a {
    padding: 5px 0;
  }
}
#decouvrir-beziers .decouvrir-beziers .menuDecouvrir ul li a:hover {
  border-bottom: 2px solid #0097b2;
  font-weight: bold;
}
@media screen and (max-width: 930px) {
  #decouvrir-beziers .decouvrir-beziers .menuDecouvrir ul li a:hover {
    border: none;
  }
}
#decouvrir-beziers .decouvrir-beziers #visites,
#decouvrir-beziers .decouvrir-beziers #activites {
  padding: 50px 0;
}
#decouvrir-beziers .decouvrir-beziers #visites h2,
#decouvrir-beziers .decouvrir-beziers #activites h2 {
  padding-bottom: 50px;
}
#decouvrir-beziers .decouvrir-beziers #visites .itemContainer,
#decouvrir-beziers .decouvrir-beziers #activites .itemContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
#decouvrir-beziers .decouvrir-beziers #visites .itemContainer .item,
#decouvrir-beziers .decouvrir-beziers #activites .itemContainer .item {
  -webkit-box-shadow: 0 0 10px #0097b2;
          box-shadow: 0 0 10px #0097b2;
  border-radius: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: 30% 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 900px) {
  #decouvrir-beziers .decouvrir-beziers #visites .itemContainer .item,
  #decouvrir-beziers .decouvrir-beziers #activites .itemContainer .item {
    grid-template-columns: 1fr;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
#decouvrir-beziers .decouvrir-beziers #visites .itemContainer .item img,
#decouvrir-beziers .decouvrir-beziers #activites .itemContainer .item img {
  width: 100%;
}
@media screen and (max-width: 900px) {
  #decouvrir-beziers .decouvrir-beziers #visites .itemContainer .item img,
  #decouvrir-beziers .decouvrir-beziers #activites .itemContainer .item img {
    padding-bottom: 30px;
  }
}
#decouvrir-beziers .decouvrir-beziers #visites .itemContainer .item div,
#decouvrir-beziers .decouvrir-beziers #activites .itemContainer .item div {
  padding-left: 20px;
}
@media screen and (max-width: 900px) {
  #decouvrir-beziers .decouvrir-beziers #visites .itemContainer .item div p,
  #decouvrir-beziers .decouvrir-beziers #activites .itemContainer .item div p {
    padding-bottom: 20px;
  }
}
#decouvrir-beziers .decouvrir-beziers #visites {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  padding: 50px 0 0;
}
#decouvrir-beziers footer {
  margin-bottom: 100px;
}
@media screen and (max-width: 930px) {
  #decouvrir-beziers footer {
    margin-bottom: 200px;
  }
}

#contact .contact .container {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 20px;
}
@media screen and (max-width: 950px) {
  #contact .contact .container {
    grid-template-columns: 1fr;
  }
}
#contact .contact .container #infoContactContainer {
  margin: 50px 0;
  padding: 20px;
  text-align: center;
}
#contact .contact .container #infoContactContainer .infoText,
#contact .contact .container #infoContactContainer .infoTelephone,
#contact .contact .container #infoContactContainer .infoMail {
  -webkit-box-shadow: 0 0 10px #0097b2;
          box-shadow: 0 0 10px #0097b2;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 30px;
}
#contact .contact .container #infoContactContainer .infoText a,
#contact .contact .container #infoContactContainer .infoTelephone a,
#contact .contact .container #infoContactContainer .infoMail a {
  color: #333333;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
#contact .contact .container #infoContactContainer .infoText a:hover,
#contact .contact .container #infoContactContainer .infoTelephone a:hover,
#contact .contact .container #infoContactContainer .infoMail a:hover {
  color: #0097b2;
  font-weight: bold;
}
#contact .contact .container #formContainer {
  -webkit-box-shadow: 0 0 10px #0097b2;
          box-shadow: 0 0 10px #0097b2;
  border-radius: 20px;
  padding: 20px;
  margin: 50px 0;
}
#contact .contact .container #formContainer h2 {
  text-align: center;
}
#contact .contact .container #formContainer form label {
  padding: 10px 0;
  display: block;
  width: 100%;
  color: #0097b2;
}
#contact .contact .container #formContainer form input,
#contact .contact .container #formContainer form textarea {
  padding: 5px 10px;
  margin: 10px 0 15px;
  font-size: 1rem;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-left: none;
  color: #333333;
  width: 100%;
}
#contact .contact .container #formContainer form input::-webkit-input-placeholder, #contact .contact .container #formContainer form textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
}
#contact .contact .container #formContainer form input::-moz-placeholder, #contact .contact .container #formContainer form textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.25);
}
#contact .contact .container #formContainer form input:-ms-input-placeholder, #contact .contact .container #formContainer form textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
}
#contact .contact .container #formContainer form input::-ms-input-placeholder, #contact .contact .container #formContainer form textarea::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
}
#contact .contact .container #formContainer form input::placeholder,
#contact .contact .container #formContainer form textarea::placeholder {
  color: rgba(0, 0, 0, 0.25);
}
#contact .contact .container #formContainer form input:focus,
#contact .contact .container #formContainer form textarea:focus {
  outline: 2px solid #0097b2;
  border-radius: 5px;
}
#contact .contact .container #formContainer form textarea {
  border: 1px solid rgba(0, 0, 0, 0.25);
  resize: none;
}
#contact .contact .container #formContainer form button {
  border: 1px solid #0097b2;
  padding: 10px 20px;
  border-radius: 20px;
  background: #0097b2;
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.25);
          box-shadow: 0 0 5px rgba(255, 255, 255, 0.25);
  color: #ffffff;
  font-size: 1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
#contact .contact .container #formContainer form button:hover {
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
  -webkit-animation: pulse 0.7s infinite linear;
          animation: pulse 0.7s infinite linear;
}
#contact footer {
  margin-bottom: 100px;
}
@media screen and (max-width: 930px) {
  #contact footer {
    margin-bottom: 200px;
  }
}/*# sourceMappingURL=index.css.map */