@font-face {
  font-family: "montserrat";
  src: url(../fonts/Montserrat.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: montserrat, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #333333;
  font-size: 1rem;
}

.container {
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0097b2;
  text-transform: uppercase;
}

header .container {
  width: 100%;
  padding: 20px 50px;
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 20px;
}
header .container .logo img {
  width: 100%;
  -webkit-filter: drop-shadow(0 0 5px #ffffff);
          filter: drop-shadow(0 0 5px #ffffff);
}
header .container .navDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .navDiv nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
header .container .navDiv nav ul li {
  padding: 0 20px;
}
header .container .navDiv nav ul li a {
  color: #ffffff;
  text-shadow: 0 0 5px #000000;
}
header .container .navDiv nav ul li .button-reservation {
  border: 1px solid #0097b2;
  padding: 10px 20px;
  border-radius: 20px;
  background: #0097b2;
  text-shadow: none;
}

footer {
  background: #0097b2;
}
footer .container {
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 10px 0;
  font-size: 0.8rem;
  color: #000000;
}
footer .container a {
  color: #000000;
  font-weight: bold;
}
footer .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
footer .container ul li {
  padding: 0 20px;
}

#accueil {
  height: 100vh;
  background: url(../img/bg-home.jpeg) center/cover;
}
#accueil header {
  background: rgba(255, 255, 255, 0.5);
}
#accueil main {
  background: rgba(255, 255, 255, 0.5);
  height: 80%;
}
#accueil main .hero {
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#accueil main .hero h1 {
  padding-bottom: 30px;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  font-size: 2rem;
}
#accueil main .hero p {
  padding-bottom: 30px;
  color: #000000;
}/*# sourceMappingURL=index.css.map */