#logement {
  main {
    h2 {
      padding: 40px 0;
    }
  }

  .menuLogement {
    padding: 20px 30px 20px 0;
    width: 80%;
    margin: 0 auto;
    ul {
      display: flex;
      justify-content: start;
      align-items: center;
      li {
        list-style: none;
        a {
          padding: 20px 20px 20px 0;
          color: $color1;
          transition: 0.2s ease;
          &:hover {
            border-bottom: 2px solid $color1;
            font-weight: bold;
            // color: $white;
            // background: $color1;
          }
        }
      }
    }
  }
  #description {
    padding-top: 50px;
    border-top: 1px solid $blackShadow;

    .descriptionLogement {
      text-transform: uppercase;
      font-weight: bold;
      color: $blackShadow;
    }

    h2 {
      padding: 20px 0 40px 0;
    }

    ul {
      display: flex;
      align-items: center;

      li {
        list-style: none;
        padding: 0px 20px 40px 0;
        display: flex;
        align-items: center;

        i {
          margin-right: 10px;
          font-size: 1.5rem;
          color: $color1;
        }
      }
    }

    .more-content {
      display: none;
    }
    .more-link {
      color: $color1;
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  #ce-que-propose-le-logement {
    .container {
      ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        li {
          list-style: none;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0 0 10px $color1;
          border-radius: 20px;
          padding: 20px;

          i {
            color: $color1;
            margin-right: 10px;
          }

          sup {
            i {
              margin-left: 5px;
            }
          }

          ul {
            li {
              list-style: none;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              // box-shadow: 0 0 10px $white;
              border-radius: none;
              padding: 10px 0;
            }
          }
        }
      }
    }
  }

  #infoCuisine,
  #infoLingeMaison {
    cursor: pointer;
    transition: 0.2s;
    color: $color1;

    &:hover {
      transform: scale(1.2);
    }
  }

  #infoCuisineList,
  #infoLingeMaisonList {
    display: none;
    position: absolute;
    box-shadow: 0 0 10px $color1;
    border-radius: 20px;
    padding: 20px;
    background: $color1;
    width: 300px;
    color: $white;
  }

  #points-forts {
    ul {
      display: flex;
      flex-wrap: wrap;
      flex-wrap: 1fr 1fr 1fr;

      li {
        list-style: none;
        padding: 10px 20px;
        margin: 20px 20px 20px 0;
        border-radius: 20px;
        // border: 1px solid $color1;
        box-shadow: 0 0 5px $color1;
        i {
          margin-right: 10px;
          color: $color1;
        }
      }
    }
  }

  .galerie-logement {
    .container {
      .imageLogement {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;

        img {
          width: 100%;
          border-radius: 20px;
          box-shadow: 0 0 10px $blackShadow;
          transition: 0.2s;

          &:hover {
            box-shadow: 0 0 20px $blackShadow;
            transform: scale(1.05);
          }
        }
      }
    }
  }

  #reglements {
    padding-bottom: 50px;
    ul {
      li {
        list-style: none;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        i {
          margin-right: 10px;
          font-size: 1.5rem;
          color: $color1;
        }
      }
    }
  }

  footer {
    margin-bottom: 100px;
  }
}
