#slide {
  #slide-gallery {
    padding: 50px;
    position: absolute;
    width: 100vw;
    height: 100vh;

    #iconCloseVisualisator {
      display: flex;
      justify-content: flex-end;
      margin-right: 30px;
      font-size: 2.5rem;
      color: $color1;
      transition: 0.2s;

      @media screen and (max-width: 750px) {
        font-size: 2rem;
      }

      &:hover {
        color: $color2;
      }
    }

    #image1,
    #image2,
    #image3,
    #image4,
    #image5,
    #image6 {
      grid-template-columns: 1fr 2fr 1fr;
      display: grid;
      justify-content: center;
      align-items: center;
      transition: 0.2s;

      #left,
      #right {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      i {
        font-size: 2.5rem;
        color: $color1;
        transition: 0.2s;

        @media screen and (max-width: 750px) {
          font-size: 2rem;
        }

        &:hover {
          color: $color2;
          transform: scale(1.2);
        }
      }

      #imgGalery1,
      #imgGalery2,
      #imgGalery3,
      #imgGalery4,
      #imgGalery5,
      #imgGalery6 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 450px;
        height: 450px;
        margin: 0 auto;
        border-radius: 20px;
        box-shadow: 0 0 10px $blackShadow;

        @media screen and (max-width: 750px) {
          width: 300px;
          height: 300px;
        }

        @media screen and (max-width: 450px) {
          width: 200px;
          height: 200px;
        }

        img {
          width: 100%;
          border-radius: 20px;
          box-shadow: 0 0 10px $blackShadow;
        }
      }
    }
  }
}
